.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-details .left-col {
  width: 30%;
  height: 30%;
}
.item-details .item-image {
  width: 100%;
  border-radius: 10px;
}

.item-details .error-button {
  display: block;
  margin-top: 20px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}

