@keyframes ldio-cpyhp8bva16 {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-cpyhp8bva16 div {
    left: 48px;
    top: 23px;
    position: absolute;
    animation: ldio-cpyhp8bva16 linear 1.1904761904761905s infinite;
    background: #109ad7;
    width: 4px;
    height: 10px;
    border-radius: 2px / 2.8000000000000003px;
    transform-origin: 2px 27px;
}.ldio-cpyhp8bva16 div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.0989010989010988s;
     background: #109ad7;
 }.ldio-cpyhp8bva16 div:nth-child(2) {
      transform: rotate(27.692307692307693deg);
      animation-delay: -1.007326007326007s;
      background: #109ad7;
  }.ldio-cpyhp8bva16 div:nth-child(3) {
       transform: rotate(55.38461538461539deg);
       animation-delay: -0.9157509157509156s;
       background: #109ad7;
   }.ldio-cpyhp8bva16 div:nth-child(4) {
        transform: rotate(83.07692307692308deg);
        animation-delay: -0.824175824175824s;
        background: #109ad7;
    }.ldio-cpyhp8bva16 div:nth-child(5) {
         transform: rotate(110.76923076923077deg);
         animation-delay: -0.7326007326007324s;
         background: #109ad7;
     }.ldio-cpyhp8bva16 div:nth-child(6) {
          transform: rotate(138.46153846153845deg);
          animation-delay: -0.641025641025641s;
          background: #109ad7;
      }.ldio-cpyhp8bva16 div:nth-child(7) {
           transform: rotate(166.15384615384616deg);
           animation-delay: -0.5494505494505494s;
           background: #109ad7;
       }.ldio-cpyhp8bva16 div:nth-child(8) {
            transform: rotate(193.84615384615384deg);
            animation-delay: -0.4578754578754578s;
            background: #109ad7;
        }.ldio-cpyhp8bva16 div:nth-child(9) {
             transform: rotate(221.53846153846155deg);
             animation-delay: -0.3663003663003662s;
             background: #109ad7;
         }.ldio-cpyhp8bva16 div:nth-child(10) {
              transform: rotate(249.23076923076923deg);
              animation-delay: -0.2747252747252747s;
              background: #109ad7;
          }.ldio-cpyhp8bva16 div:nth-child(11) {
               transform: rotate(276.9230769230769deg);
               animation-delay: -0.1831501831501831s;
               background: #109ad7;
           }.ldio-cpyhp8bva16 div:nth-child(12) {
                transform: rotate(304.61538461538464deg);
                animation-delay: -0.09157509157509156s;
                background: #109ad7;
            }.ldio-cpyhp8bva16 div:nth-child(13) {
                 transform: rotate(332.3076923076923deg);
                 animation-delay: 0s;
                 background: #109ad7;
             }
.loadingio-spinner-spinner-ruod3pge77 {
    width: 94px;
    height: 94px;
    display: inline-block;
    overflow: hidden;
}
.ldio-cpyhp8bva16 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.94);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-cpyhp8bva16 div { box-sizing: content-box; }
